@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --c-primaria:#000000;
    --c-secundaria: #F6F6F6;
    --c-terciaria: #22D4FD;
    
    --f-primaria:'Krona One', sans-serif;
    --f-secundaria:'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--c-primaria);
    color: var(--c-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--f-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--c-terciaria);
    text-decoration: none;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--f-primaria);
}
.titulo-destaque{
    color: var(--c-terciaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--f-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--f-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--c-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--secundaria);
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links__link:hover{
    background-color: #272727;
}
.apresentacao__imagem {
    width: 50%;
}
.rodape{
    color: var(--c-primaria);
    background-color:var(--c-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--f-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__conteudo__texto{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--c-terciaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__imagem {
        width: 100%;
    }
}